fastapi
fastapi-cache2[redis]
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
httpx
baostock
numpy==1.26.4
pandas==2.2.2
yfinance
akshare
yahoo_fin
requests_html
pydantic_settings
ruff
pytest
pytest-mock
pytest-cov
